<!-- navbar -->
<div>
  <%= link_to 'HOME', root_path %>
  <%= link_to 'ABOUT', about_path %>
  <%= link_to 'CONTACT', contact_path %>
</div>

<div class="green-container">
  <div class="title">
    <h2>Projects</h2>
  </div>
  <div class="container padded">
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <h3><%= link_to project.name, project_path(project) %></h3>
            <p>website logo: <%= project.location_url %></p>
            <p>github logo: <%= project.github_url %></p>
            <p>image url: <%= project.image_url %></p>
            <p>text: <%= project.blurb %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
