<!-- navbar -->
<div>
  <%= link_to 'HOME', root_path %>
  <%= link_to 'ABOUT', about_path %>
  <%= link_to 'CONTACT', contact_path %>
</div>

<% @projects.each do |project| %>
  <h3><%= link_to project.name, project_path(project) %></h3>
  <p>website: <%= project.location_url %></p>
  <p>github: <%= project.github_url %></p>
  <p>image url: <%= project.image_url %></p>
  <p>text: <%= project.blurb %></p>
<% end %>
