<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>

<h3><%= @project.name %></h3>
<p>website: <%= @project.location_url %></p>
<p>github: <%= @project.github_url %></p>
<p>image url: <%= @project.image_url %></p>
<p>text: <%= @project.blurb %></p>

<p> ------ </p>

<h3>Testemonials</h3>
<% @project.testemonials.each do |testemonial| %>
  <h4><%= testemonial.name %></h4>
  <p>connection: <%= testemonial.connection %></p>
  <p>content: <%= testemonial.content %></p>
<% end %>

<p> ------ </p>
<div>
  <%= link_to 'HOME', root_path %>
  <%= link_to 'ABOUT', about_path %>
  <%= link_to 'CONTACT', contact_path %>
  <%= link_to 'PROJECTS', projects_path %>
</div>
